# a test GitHub Action which echos back an input variable
# common github actions in this repo are based on the reuse pattern https://docs.github.com/en/actions/using-workflows/reusing-workflows
# use stubs/ci-all-go-echo-stub.yml in your repo to call this common action using workflow_call
name: simple echo service

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
        
  workflow_dispatch:
    inputs:
      message:
        required: true
        type: string

jobs:
  reusable_echo:
    name: echo message back
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo "Hello ${{ inputs.message }}"